<!doctype html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>
            {{ title }}
        </title>
        <meta name="robots" content="noindex, follow"/>
        <meta name="description" content="">
        <meta
        name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> <!-- Favicon -->
        <link rel="shortcut icon" type="image/x-icon" href="/assets/favicon.png"> <!-- CSS ============================================ -->
        <!-- Bootstrap CSS --> <link rel="stylesheet" href="/css/vendor/bootstrap.min.css">
        <link rel="stylesheet" href="/css/vendor/font-awesome.css">
        <link rel="stylesheet" href="/css/vendor/slick.css">
        <link rel="stylesheet" href="/css/vendor/slick-theme.css">
        <link rel="stylesheet" href="/css/vendor/base.css">
        <link rel="stylesheet" href="/css/plugins/plugins.css">
        <link rel="stylesheet" href="/css/style.css"> <!-- JS ============================================ -->
        <!-- Modernizer JS --><script src="/js/vendor/modernizr.min.js" defer> </script>
        <!-- jQuery JS -->
        <script src="/js/vendor/jquery.js" defer></script>
        <!-- Bootstrap JS -->
        <script src="/js/vendor/bootstrap.min.js" defer></script>
        <script src="/js/vendor/slick.min.js" defer></script>
        <script src="/js/vendor/tweenmax.min.js" defer></script>
        <script src="/js/vendor/js.cookie.js" defer></script>
        <script src="/js/vendor/jquery.style.switcher.js" defer></script>
        <!-- Main JS -->
        <script src="/js/main.js" defer></script>
    </head>
    <body class="theme-color-2">
        <div class="main-wrapper">
            <div class="mouse-cursor cursor-outer"></div>
            <div class="mouse-cursor cursor-inner"></div>
            <div id="my_switcher" class="my_switcher">
                <ul>
                    <li><a href="javascript: void(0);" data-theme="light" class="setColor light"><span title="Light Mode">Light</span></a></li>
                    <li><a href="javascript: void(0);" data-theme="dark" class="setColor dark"><span title="Dark Mode">Dark</span></a></li>
                </ul>
            </div>
            {% include "header.njk" %}
            {{ content | safe }}
            {% include "footer.njk" %}
        </div>
    </body>
</html>