---
title: 'Beyond The Passive Christian'
layout: 'layouts/feed.njk'
pagination:
    data: collections.blog
    size: 5
permalink: 'articles{% if pagination.pageNumber > 0 %}/page/{{ pagination.pageNumber }}{% endif %}/index.html'
---