--- 
title: Creative Blog || Blogar - Personal Blog Template 
layout: base 
---

<!-- Start Banner Area -->
<h1 class="d-none">Home Creative Blog</h1>
<div class="slider-area creative-slider-area bg-color-grey">
  <div class="axil-slide slider-style-3">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-6 order-2 order-lg-1">
          <div
            class="slider-inner slick-nav-avtivation-new">
            <!-- Start Single Blog  -->
            <div class="content-block post-medium post-medium-border">
              <div class="post-number">
                <span>01</span>
              </div>
              <div class="post-thumbnail">
                <a href="post-details.html">
                  <img src="/assets/small-images/blog-sm-01.jpg" alt="Post Images">
                </a>
              </div>
              <div class="post-content">
                <div class="post-cat">
                  <div class="post-cat-list">
                    <a href="#">NIKE WOMEN'S</a>
                  </div>
                </div>
                <h4 class="title">
                  <a href="post-details.html">iPadOS 14 introduces new designed specifically for iPad</a>
                </h4>
                <div class="post-button">
                  <a class="axil-button button-rounded color-secondary-alt" href="post-details.html">Read More</a>
                </div>
              </div>
            </div>
            <!-- End Single Blog  -->
            <!-- Start Single Blog  -->
            <div class="content-block post-medium post-medium-border">
              <div class="post-number">
                <span>02</span>
              </div>
              <div class="post-thumbnail">
                <a href="post-details.html">
                  <img src="/assets/small-images/blog-sm-02.jpg" alt="Post Images">
                </a>
              </div>
              <div class="post-content">
                <div class="post-cat">
                  <div class="post-cat-list">
                    <a href="#">APPLE DESIGN</a>
                  </div>
                </div>
                <h4 class="title">
                  <a href="post-details.html">Discover the Joy of Water with Nike Victory Swim Collection</a>
                </h4>
                <div class="post-button">
                  <a class="axil-button button-rounded color-secondary-alt" href="post-details.html">Read More</a>
                </div>
              </div>
            </div>
            <!-- End Single Blog  -->
            <!-- Start Single Blog  -->
            <div class="content-block post-medium post-medium-border">
              <div class="post-number">
                <span>03</span>
              </div>
              <div class="post-thumbnail">
                <a href="post-details.html">
                  <img src="/assets/small-images/blog-sm-03.jpg" alt="Post Images">
                </a>
              </div>
              <div class="post-content">
                <div class="post-cat">
                  <div class="post-cat-list">
                    <a href="#">ACCESSIBILITY</a>
                  </div>
                </div>
                <h4 class="title">
                  <a href="post-details.html">5 Photography Blogs You Should Be Reading</a>
                </h4>
                <div class="post-button">
                  <a class="axil-button button-rounded color-secondary-alt" href="post-details.html">Read More</a>
                </div>
              </div>
            </div>
            <!-- End Single Blog  -->
            <!-- Start Single Blog  -->
            <div class="content-block post-medium post-medium-border">
              <div class="post-number">
                <span>04</span>
              </div>
              <div class="post-thumbnail">
                <a href="post-details.html">
                  <img src="/assets/small-images/blog-sm-04.jpg" alt="Post Images">
                </a>
              </div>
              <div class="post-content">
                <div class="post-cat">
                  <div class="post-cat-list">
                    <a href="#">GADGETS</a>
                  </div>
                </div>
                <h4 class="title">
                  <a href="post-details.html">Lightweight, grippable, and ready to go.</a>
                </h4>
                <div class="post-button">
                  <a class="axil-button button-rounded color-secondary-alt" href="post-details.html">Read More</a>
                </div>
              </div>
            </div>
            <!-- End Single Blog  -->
            <!-- Start Single Blog  -->
            <div class="content-block post-medium post-medium-border">
              <div class="post-number">
                <span>05</span>
              </div>
              <div class="post-thumbnail">
                <a href="post-details.html">
                  <img src="/assets/small-images/blog-sm-01.jpg" alt="Post Images">
                </a>
              </div>
              <div class="post-content">
                <div class="post-cat">
                  <div class="post-cat-list">
                    <a href="#">COLLABORATION</a>
                  </div>
                </div>
                <h4 class="title">
                  <a href="post-details.html">The 1 tool that helps remote teams collaborate better</a>
                </h4>
                <div class="post-button">
                  <a class="axil-button button-rounded color-secondary-alt" href="post-details.html">Read More</a>
                </div>
              </div>
            </div>
            <!-- End Single Blog  -->
            <!-- Start Single Blog  -->
            <div class="content-block post-medium post-medium-border">
              <div class="post-number">
                <span>06</span>
              </div>
              <div class="post-thumbnail">
                <a href="post-details.html">
                  <img src="/assets/small-images/blog-sm-04.jpg" alt="Post Images">
                </a>
              </div>
              <div class="post-content">
                <div class="post-cat">
                  <div class="post-cat-list">
                    <a href="#">PRODUCT UPDATES</a>
                  </div>
                </div>
                <h4 class="title">
                  <a href="post-details.html">Discover the Joy of Water with Nike Victory Swim Collection</a>
                </h4>
                <div class="post-button">
                  <a class="axil-button button-rounded color-secondary-alt" href="post-details.html">Read More</a>
                </div>
              </div>
            </div>
            <!-- End Single Blog  -->
          </div>
        </div>
        <div class="col-lg-6 order-1 order-lg-2">
          <div class="thumbnail-wrapper slick-for-avtivation-new">
            <div class="thumbnail">
              <a href="#">
                <img src="/assets/banner/post-hover-image-01.jpg" alt="Thumbnail Images">
              </a>
            </div>
            <div class="thumbnail">
              <a href="#">
                <img src="/assets/banner/post-hover-image-02.jpg" alt="Thumbnail Images">
              </a>
            </div>
            <div class="thumbnail">
              <a href="#">
                <img src="/assets/banner/post-hover-image-03.jpg" alt="Thumbnail Images">
              </a>
            </div>
            <div class="thumbnail">
              <a href="#">
                <img src="/assets/banner/post-hover-image-01.jpg" alt="Thumbnail Images">
              </a>
            </div>
            <div class="thumbnail">
              <a href="#">
                <img src="/assets/banner/post-hover-image-02.jpg" alt="Thumbnail Images">
              </a>
            </div>
            <div class="thumbnail">
              <a href="#">
                <img src="/assets/banner/post-hover-image-03.jpg" alt="Thumbnail Images">
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Banner Area -->